<h2>My Addresses</h2>

<%= link_to "Add New Address", new_address_path %>

<% @addresses.each do |address| %>
  <div class="card">
    <p><strong><%= address.street %></strong></p>
    <p><%= address.city %>, <%= address.state %></p>
    <p><%= address.pincode %>, <%= address.country %></p>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= button_to "Logout",
        destroy_user_session_path,
        method: :delete,
        data: { confirm: "Are you sure you want to logout?" } %>
<% end %>
